:root {
  --primary-bg-color: #292937;
  --secondary-bg-color: #313142;
  --tertiary-bg-color: #20202b;

  --editor-bg-color: #202020;

  --border-color: #13131a;
  --accessory-bg-color: #2d2d3d;
  --bar-bg-color: #191922;

  --menu-section-sep-color: #2f2f2f;
  --menu-item-sep-color: rgba(0, 0, 0, 0.1);

  --ui-text-color: #d8d8d8;
  --cell-text-color: #d6d6e1;
  --link-color: #60a8f3;

  --editor-text-color: #c7c7e0;
  --footer-link-color: #dbdbdb;

  --blue-color: #086dd6;

  --sn-component-foreground-color: var(--ui-text-color);
  --sn-component-background-color: var(--accessory-bg-color);
  --sn-component-foreground-highlight-color: var(--blue-color);
  --sn-component-outer-border-color: var(--border-color);
  --sn-component-inner-border-color: var(--bar-bg-color);

  --sn-desktop-titlebar-bg-color: var(--primary-bg-color);
  --sn-desktop-titlebar-border-color: var(--border-color);
  --sn-desktop-titlebar-ui-color: var(--ui-text-color);
  --sn-desktop-titlebar-ui-hover-color: var(--blue-color);
}


#app.ng-scope {
  animation: fadein .3s normal ease-in-out;
  animation-iteration-count: 1;
  background-color: var(--primary-bg-color);
  opacity: 1;
}

@keyframes fadein {
    0%   {
      opacity: 0.5;
      transform: scale(1.1);
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 1;
      transform: scale(1.0);
    }
}

/* General */

.windows-web, .windows-desktop, .linux-web, .linux-desktop {
  ::-webkit-scrollbar {
    border-left-color: var(--border-color) !important;
  }

  ::-webkit-scrollbar-thumb {
    /* background-color: var(--primary-bg-color) !important; */
  }
}

::selection {
  background: var(--link-color) !important; /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: var(--link-color) !important; /* Gecko Browsers */
  color: white;
}

body {
  color: var(--ui-text-color) !important;
}

.app .section > .content {
  background-color: var(--primary-bg-color) !important;
}

.add-button {
  background-color: var(--accessory-bg-color) !important;
}

.blue { /*legacy, replaced with .tinted */
  color: var(--link-color) !important;
}

.tinted {
  color: var(--link-color) !important;
}

.tinted-selected {
  color: var(--link-color) !important;
}

.app-bar {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--border-color) !important;

  .item.border {
    border-color: var(--border-color) !important;
  }
}

.app-bar .item.border {
  border-color: var(--border-color) !important;
}

.section-title-bar {
  color: var(--foreground-color) !important;
  background-color: var(--primary-bg-color) !important;
}

.section-title-bar-header .title {
  color: var(--ui-text-color) !important;
}


/* Tags */

.app .tags, .tags .content {
  background-color: var(--primary-bg-color) !important;
}

#tags-title-bar {
  color: var(--ui-text-color) !important;
}

.tags .tag {
  color: var(--cell-text-color) !important;
}

.tags .tag a {
  color: var(--cell-text-color) !important;
}

.tags .tag > .info > .title {
  color: var(--cell-text-color) !important;
}

.tags .tag.selected {
  background-color: var(--secondary-bg-color) !important;
}

.tags .tag:hover:not(.selected) {
  background-color: var(--secondary-bg-color) !important;
}

/* Notes */

.app .notes .content {
  background-color: var(--tertiary-bg-color) !important;
}

.notes {
  border-left: 1px solid var(--border-color) !important;
  border-right: 1px solid var(--border-color) !important;
}

#notes-title-bar {
  color: var(--ui-text-color) !important;
  background-color: var(--primary-bg-color) !important;
}

.notes .filter-section .filter-bar {
  background-color: var(--accessory-bg-color) !important;
}

.notes .note.selected {
  background-color: var(--primary-bg-color) !important;
  color: var(--cell-text-color) !important;
}

.notes .note {
  border-bottom: 1px solid var(--border-color) !important;
  background-color: var(--tertiary-bg-color) !important;
  color: var(--cell-text-color);
}


/* Editor */

#editor-title-bar {
  background-color: var(--primary-bg-color) !important;
}

#editor-title-bar > .title > .input {
  color: var(--ui-text-color) !important;
}

.editor, .editor-content {
  background-color: var(--editor-bg-color) !important;
}

.editor-content .editable {
  background-color: var(--editor-bg-color);
  color: var(--editor-text-color);
}

#editor-title-bar .editor-tags .tags-input {
  color: var(--ui-text-color) !important;
}

#editor-title-bar #save-status {
  color: #515371 !important;
}

/* Footer */

#footer-bar {
  background-color: var(--bar-bg-color) !important;
}

/* Editors */

.CodeMirror {
  background-color: var(--editor-bg-color) !important;
  color: var(--editor-text-color) !important;
  border: 0 !important;
}

.CodeMirror-cursor {
  border-color: white;
}

.CodeMirror-selected {
  background: var(--link-color) !important;
}

.CodeMirror-selectedtext {
  color: white;
}

.CodeMirror-gutters {
  background-color: var(--primary-bg-color) !important;
  color: var(--editor-text-color) !important;
  border-color: var(--border-color) !important;
}

.CodeMirror .cm-header { font-family: arial; color: var(--editor-text-color) !important;}
.CodeMirror .cm-variable-2 { font-family: arial; color: var(--link-color) !important;}
.CodeMirror .cm-link, .cm-string, .cm-keyword { font-family: arial; color: var(--editor-text-color) !important;}

.CodeMirror .CodeMirror-linenumber { color: gray !important; }

/* Code Editor bottom toolbar */

#select-wrapper {
  background-color: var(--primary-bg-color) !important;
  color: var(--editor-text-color) !important;
  border-color: var(--border-color) !important;
}

/* Advanced Markdown top toolbar */

.editor-toolbar {
  background-color: var(--primary-bg-color) !important;
  border-color: var(--border-color) !important;
}

.editor-toolbar::before, ::after {
  background: 0 !important;
}

.editor-toolbar a {
  color: var(--editor-text-color) !important;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
  border-color: transparent;
  background: #454560;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: inherit;
}

.editor-preview-active, .editor-preview-active-side {
  background-color: var(--primary-bg-color) !important;
  border: 0 !important;
  border-left: 1px solid var(--border-color) !important;
}

.editor-preview-active {
  border: 0 !important;
}

#sn-advanced-markdown-editor .editor-preview.editor-preview-active pre, #sn-advanced-markdown-editor .editor-preview-side.editor-preview-active-side pre {
  background-color: var(--secondary-bg-color);
  padding: 20px;
}

/* Simple Markdown Editor */

#simple-markdown {
  background-color: var(--editor-bg-color) !important;
  color: var(--editor-text-color) !important;
}

#simple-markdown #editor {
  background-color: var(--editor-bg-color) !important;
  color: var(--editor-text-color) !important;
}

#simple-markdown #column-resizer {
  background-color: var(--secondary-bg-color) !important;
}

/* Plus Editor */

#plus-editor .note-editor.note-frame.fullscreen .note-editable {
  background-color: var(--editor-bg-color) !important;
  color: var(--editor-text-color) !important;
}

#plus-editor .panel {
  background-color: var(--primary-bg-color) !important;
}

#plus-editor .panel-default>.panel-heading {
    background-color: var(--primary-bg-color) !important;
}

#plus-editor .btn-default {
    color: var(--editor-text-color) !important;
    background-color: var(--accessory-bg-color) !important;
    border-color: var(--primary-bg-color) !important;
}

#plus-editor .panel-heading {
    border-color: var(--primary-bg-color) !important;
}

#plus-editor .dropdown-menu>li>a {
    color: var(--editor-text-color);
}


.component-stack-border {
  border-color: var(--border-color) !important;
}

/*SN Components */

:root {
  --body-text-color: var(--editor-text-color);
  --body-background-color: var(--primary-bg-color);

  --element-text-color: var(--ui-text-color);
  --element-background-color: var(--accessory-bg-color);

  --tint-color: var(--tertiary-bg-color);
}

.sn-component .element-background-color {
 background-color: var(--element-background-color);
}

.sn-component .body-background-color {
 background-color: var(--body-background-color);
}

.sn-component .element-text-color {
 color: var(--element-text-color);
}

.sn-component .body-text-color {
 color: var(--body-text-color);
}

.sn-component .border-color {
  border-color: var(--border-color) !important;
}
